body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/*CSS dos botões*/
.btn-editar, .btn-excluir, .btn-ativar, .btn-desativar {
    padding: 5px 10px;
    margin: 2px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    font-size: 14px;
}

.btn-editar {
    background-color: #28a745; /* Verde */
}

.btn-excluir {
    background-color: #dc3545; /* Vermelho */
}

.btn-ativar {
    background-color: #17a2b8; /* Azul claro */
}

.btn-desativar {
    background-color: #ffc107; /* Amarelo */
}

.btn-editar:hover, .btn-excluir:hover, .btn-ativar:hover, .btn-desativar:hover {
    opacity: 0.8;
    text-decoration: none;
}
/* Conteúdo Principal */
.content {
    margin-top: 80px; /* Margem superior igual à altura da navbar */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}