.header {
    width: 100%;
    height: 100px;
    
}
/* Navbar */

.navbar {
    width: 100%;
    background: linear-gradient(135deg, #6a11cb, #2575fc); /* Gradiente roxo e azul */
    color: white; /* Cor do texto */
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; /* Fixa a navbar no topo */
    top: 0;
    left: 0;
    z-index: 1000; /* Garante que a navbar fique acima de outros elementos */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

/* Lado esquerdo da navbar */
.navbar-left {
    display: flex;
    align-items: center;
}

.user-info {
    margin-right: 20px;
}

.user-info h3 {
    margin: 0;
    font-size: 1.2em;
}

.user-info p {
    margin: 5px 0;
    font-size: 0.9em;
    color: #f4f4f9; /* Cor mais clara para o texto secundário */
}

/* Lado direito da navbar */
.navbar-right {
    padding-right: 40px;
    display: flex;
    align-items: center;
}

.current-time {
    margin-right: 20px;
    font-size: 0.9em;
    color: #f4f4f9; /* Cor mais clara para o texto */
}

.menu ul {
    list-style: none; /* Remove marcadores da lista */
    padding: 0;
    margin: 0;
    display: flex;
}

.menu ul li {
    margin: 0 10px;
}

.menu ul li a {
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove sublinhado */
    font-size: 0.9em;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Efeito hover suave */
}

/* Seção de Backup */
.backup-section {
    margin-right: 20px;
}

.btn-backup {
    background-color: #6a11cb; /* Roxo principal */
    color: white; /* Cor do texto */
    padding: 8px 16px; /* Espaçamento interno */
    text-decoration: none; /* Remove sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.btn-backup:hover {
    background-color: #4d0d9b; /* Roxo mais escuro ao passar o mouse */
}

/* Seção de Logout */
.logout-section .btn-logout {
    background-color: #e74c3c; /* Vermelho para destaque */
    color: white; /* Cor do texto */
    padding: 8px 16px; /* Espaçamento interno */
    text-decoration: none; /* Remove sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 0.9em;
    transition: background-color 0.3s;
}

.logout-section .btn-logout:hover {
    background-color: #c0392b; /* Vermelho mais escuro ao passar o mouse */
}