
/* Navbar */
.navbar {
    width: 100%;
    background-color: #2c3e50; /* Cor de fundo */
    color: white; /* Cor do texto */
    padding: 10px 20px; /* Espaçamento interno */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed; /* Fixa a navbar no topo */
    top: 0;
    left: 0;
    z-index: 3; /* Garante que a navbar fique acima de outros elementos */
}

/* Lado esquerdo da navbar */
.navbar-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.user-info {
    margin-right: 20px;
}

.user-info h3 {
    margin: 0;
    font-size: 1.2em;
}

.user-info p {
    margin: 5px 0;
    font-size: 0.9em;
}

/* Lado direito da navbar */
.navbar-right {
    display: flex;
    align-items: center;
}

.current-time {
    margin-right: 20px;
    font-size: 0.9em;
}

.menu ul {
    list-style: none; /* Remove marcadores da lista */
    padding: 0;
    margin: 0;
    display: flex;
}

.menu ul li {
    margin: 0 10px;
}

a {
    text-decoration: none;
}
.menu ul li a {
    color: white; /* Cor do texto */
    text-decoration: dotted; /* Remove sublinhado */
    font-size: 0.9em;
    
}

.menu ul li a:hover {
    text-decoration: none; /* Sublinhado ao passar o mouse */
    background-color: #e74c3c;
}

.backup-section {
    margin-right: 20px;
}

.btn-backup {
    background-color: #a1db34; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    padding: 8px 16px; /* Espaçamento interno */
    text-decoration: none; /* Remove sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 0.9em;
}

.btn-backup:hover {
    background-color: #2980b9; /* Cor de fundo ao passar o mouse */
    text-decoration: none;
}

.logout-section .btn-logout {
    background-color: #e74c3c; /* Cor de fundo do botão */
    color: white; /* Cor do texto */
    padding: 8px 16px; /* Espaçamento interno */
    text-decoration: none; /* Remove sublinhado */
    border-radius: 5px; /* Bordas arredondadas */
    font-size: 0.9em;
}

.logout-section .btn-logout:hover {
    background-color: #c0392b; /* Cor de fundo ao passar o mouse */
}