/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    width: 250px;
    background: linear-gradient(135deg, #6a11cb, #2575fc); /* Gradiente roxo e azul */
    color: #ecf0f1; /* Cor do texto */
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 4px 0 10px rgba(0, 0, 0, 0.2); /* Sombra lateral */
}

.user-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.fa-user {
    font-size: 30px;
    color: #fff; /* Cor do ícone */
}
.user-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    
}

.user-info {
    display: flex;
    flex-direction: column;
}

.user-name {
    font-weight: bold;
    color: #fff; /* Cor do nome do usuário */
}

.user-email {
    font-size: 0.8em;
    color: #f4f4f9; /* Cor mais clara para o e-mail */
}

.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    margin: 15px 0;
}

.nav-menu li a {
    color: #ecf0f1; /* Cor do texto */
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Efeito hover suave */
}

.dropdown-content {
    display: none;
    list-style: none;
    padding-left: 20px;
}

.dropdown-content li a {
    padding: 8px;
    font-size: 0.9em;
    color: #ecf0f1; /* Cor do texto dos submenus */
    transition: background-color 0.3s;
}

.dropdown-content li a:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Efeito hover suave */
}

.dropdown.active .dropdown-content {
    display: block;
}